<?xml version='1.0' encoding='utf-8'?>
<widget id="com.seotlt.compl" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

<name>Bootlicker</name>
<description>
Bootlicker
</description>
    <platform name="ios">
        <splash height="1136" platform="ios" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" platform="ios" src="res/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" platform="ios" src="res/screen/ios/Default-736h.png" width="1242" />
        <splash height="960" platform="ios" src="res/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="480" platform="ios" src="res/screen/ios/Default~iphone.png" width="320" />
    </platform>
<author email="info@seotlt.ru" href="http://seotlt.ru">
    Me
</author>
<icon src="icon.png" />
<content src="index.html" />
<access origin="*" />


</widget>
