<?xml version='1.0' encoding='utf-8'?>
<widget id="com.seotlt.compl" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

<name>Bootlicker</name>
<description>
Bootlicker
</description>
<platform name="ios">
<splash src="splash.png" platform="ios" width="375" height="667" />
<icon src="iconios.png" platform="ios" width="180" height="180" />
<splash src="Default-667h@2x.png" platform="ios" width="750" height="1334" />
</platform>
<author email="info@seotlt.ru" href="http://seotlt.ru">
    Me
</author>
<icon src="icon.png" />
<content src="index.html" />
<access origin="*" />


</widget>
